<html>
    <head>
        <title>Django Girls blog</title>

        <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/static/css/members.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1><a href="{% url 'member_new' %}">여기야 여기</a></h1>
        {% block content %}
        {% endblock %}
    </body>
</html>